jax[cpu]==0.4.34
flax==0.10.4
optax==0.2.4
transformers==4.51.3
accelerate==1.6.0
diffusers==0.33.1
Pillow==11.2.1
numpy>=1.24
image-reward
# GenEval packages
ninja==1.11.1.4
clip-benchmark==1.6.1
open-clip-torch==2.20.0